In [5]:
# -*- coding: utf-8 -*-
"""
@Name: Week 7 Chicago Home Sale.py
@Creation Date: February 13, 2023
@author: Ming-Long Lam, Ph.D.
@organization: University of Chicago
(C) All Rights Reserved.
"""

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sys

from scipy.stats import chi2

sys.path.append('C:\\MScAnalytics\\Linear and Nonlinear Model\\Job')
import Regression

# Set some options for printing all the columns
np.set_printoptions(precision = 10, threshold = sys.maxsize)
np.set_printoptions(linewidth = np.inf)

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

pd.options.display.float_format = '{:,.7}'.format

In [6]:
train_data = pd.read_csv("GroupGamma.csv")

In [7]:
means = train_data.groupby('Group')['Y'].mean()
means = means.round(7)
means

Group
1   0.0503192
2   0.0249987
3   0.0119574
Name: Y, dtype: float64

In [8]:
train_data

     Group            Y
0        3     9.67e-09
1        1  6.05343e-06
2        1  7.23119e-06
3        2 1.735625e-05
4        2 2.389996e-05
..     ...          ...
504      1    0.2294954
505      1    0.2314614
506      1    0.2436737
507      1     0.481625
508      1    0.4927751

[509 rows x 2 columns]

In [9]:
X0_train = train_data[["Y"]].copy()
X0_train.insert(0, 'Intercept', 1.0)
X0_train.drop(columns = ["Y"], inplace = True)
y_train = train_data["Y"].copy()

In [10]:
maxIter = 20
tolS = 1e-7
stepSummary = []
resultList = Regression.GammaRegression (X0_train, y_train, offset = None, maxIter = maxIter, tolSweep = tolS)

In [11]:
resultList[7]

0.4938444649014855

In [32]:
data = pd.Categorical(train_data["Group"], categories=[1,3,2], ordered=False)

In [13]:
data

[3, 1, 1, 2, 2, ..., 1, 1, 1, 1, 1]
Length: 509
Categories (3, int64): [1, 2, 3]

In [14]:
cName = train_data["Group"].copy()

In [15]:
train_data["Group"] = train_data["Group"].astype(object)

In [33]:
X_train = X0_train.join(pd.get_dummies(data))

In [28]:
X_train

     Intercept  1  2  3
0          1.0  0  0  1
1          1.0  1  0  0
2          1.0  1  0  0
3          1.0  0  1  0
4          1.0  0  1  0
..         ... .. .. ..
504        1.0  1  0  0
505        1.0  1  0  0
506        1.0  1  0  0
507        1.0  1  0  0
508        1.0  1  0  0

[509 rows x 4 columns]

In [18]:
resultList = Regression.GammaRegression (X_train, y_train, offset = None, maxIter = maxIter, tolSweep = tolS)

In [19]:
resultList[7]

0.5621002156403847

In [22]:
reference_group = X_train[["Intercept",2]]

In [34]:
resultList = Regression.GammaRegression (X_train, y_train, offset = None, maxIter = maxIter, tolSweep = tolS)
resultList[0]

            Estimate  Standard Error  Lower 95% CI  Upper 95% CI  Exponentiated
Intercept  -3.688932      0.08333333     -3.852263     -3.525602     0.02499868
1          0.6995635        0.113409     0.4772859     0.9218411       2.012874
3         -0.7374713       0.1097565    -0.9525901    -0.5223526      0.4783219
2                0.0             0.0           0.0           0.0            1.0

In [23]:
reference_group

     Intercept  2
0          1.0  0
1          1.0  0
2          1.0  0
3          1.0  1
4          1.0  1
..         ... ..
504        1.0  0
505        1.0  0
506        1.0  0
507        1.0  0
508        1.0  0

[509 rows x 2 columns]

In [24]:
resultList = Regression.GammaRegression (reference_group, y_train, offset = None, maxIter = maxIter, tolSweep = tolS)
resultList[0]

            Estimate  Standard Error  Lower 95% CI  Upper 95% CI  Exponentiated
Intercept  -3.515954      0.05234239     -3.618543     -3.413364     0.02971945
2         -0.1729785      0.09840818     -0.365855    0.01989801      0.8411557

In [25]:
round(0.02971945,7)

0.0297195

In [ ]:
Regression.solve4Alpha(2)

0.3381167718798679

In [ ]:
data = pd.read_csv("your_dataset_file.csv")
data["Group"] = pd.Categorical(data["Group"], categories=[2, 1, 3], ordered=False)
model = sm.GLM(data["Y"], sm.add_constant(data["Group"]), family=sm.families.Gamma(link=sm.families.links.log))
exp_coef = np.exp(model.fit().params)
exp_coef[0]